* {

    box-sizing: border-box;
    font-family: arial, sans-serif;
}

ul {
    list-style: none;
}

//classes
.bands {
    padding: 5em 0em 5em 0em;
}



.jumbotron {
    background: url("img/cornell.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    width: 100%;
    h1 {
        color: white;
        text-align: right;
    }
}

//ids
#audioslave {
    background: #515352;
}

#jumbo {
    margin: 0 auto;
}

#soundgarden {
    background-color: black;
}

#solo {
    background: #112A2E;
}

#temple {
    background: #8283B1;

}
